<ion-header text-center no-border>
  <ion-toolbar>
    <ion-title>
      Random Quotes
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>
    

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{quotes.quoteAuthor}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
          {{quotes.quoteText}}
      </ion-card-content>
    </ion-card>

    <div text-center >
        <ion-icon ios="ios-refresh-circle" md="md-refresh-circle" (click)="showQuote()" style="font-size: 50px"></ion-icon>
    </div>
</ion-content>

<ion-footer text-center no-border>
  &copy; 2019. CodeSquad LLC
</ion-footer>
